* {
    padding: 0;
    margin: 0;
}

body {
    /*
    display: flex;
    flex-direction: column;
    */
    height: 100vh;
    position: relative;
    background-color: #15151F;
}

header {
    background-image: url(../images/bg-mobile-dark.jpg);
    background-size: cover;
    /* object-fit: ; */
    background-repeat: no-repeat;
    height: 30vh;
    /* width: auto; */
    background-color: red;
}

main {
    height: 70vh;
    
}

main div#todo-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 128, 0, 0.485);
    display: grid;
    place-items: center;
}

main div#todo-container #test {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}